@{
    ViewBag.Title = "Contact";

    var rng = new Random();
    var ShowBadAddress = rng.Next(10) > 1;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (ShowBadAddress)
{
    <address>
        101 N Main St. Suite 400<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
} else
{
    <address>
        1 Bruce Manor Way<br />
        Gotham, SD 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        555.867.5309
    </address>
}

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>